@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'popins',sans-serif;
}

@keyframes borderMove {
  0% { background-position: 0% 25%; }
  25% { background-position: 100% 50%; }
  50% { background-position: 100% 75%; }
  100% { background-position: 0% 100%; }
}

.animate-border {
  animation: borderMove 3s infinite linear;
}

